{% extends 'store/base.html' %}
{% load static %}
{% load store_tags %}
{% block content %}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            {% for category in categories %}
            <div class="col-md-3 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="{{category.main_image.url}}" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>{{category}}<br>Collection</h3>
                        <a href="{{category.get_absolute_url}}" class="cta-btn">Shop now <i
                                class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>
                    <div class="section-nav">
                    </div>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                {% for product in new_products %}
                                <div class="col-md-4 col-xs-6">
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="{{product.photo.url}}" alt="">
                                            <div class="product-label">
                                                {% if product.discount != 0 %}
                                                <span class="sale">{{product.discount}}%</span>
                                                {% endif %}
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">{{product.cat}}</p>
                                            <div style="height: 50px;">
                                                <h3 class="product-name"><a href="{{product.get_absolute_url}}">{{product.name}}</a>
                                                </h3>
                                            </div>
                                            {% if product.discount == 0 %}
                                            <h4 class="product-price">${{product.price}}</h4>
                                            {% else %}
                                            <h4 class="product-price">${{product.final_price}}
                                                <del class="product-old-price">${{product.price}}</del>
                                            </h4>
                                            {% endif %}
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <form method="post" action="{% url 'change_wishlist' product.id %}">
                                                {% csrf_token %}
                                                <div class="product-btns">
                                                    <input type="hidden" name="redirect_url"
                                                           value="{{request.get_full_path}}">
                                                    {% if product.id|str in wishlist.wishlist %}
                                                    <button class="add-to-wishlist"><i class="fa fa-heart"></i><span
                                                            class="tooltipp">remove from wishlist</span></button>
                                                    {% else %}
                                                    <button class="remove-from-wishlist"><i
                                                            class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                                                    </button>
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>
                                        <form method="post" action="{% url 'cart_add' product.id %}">
                                            {% csrf_token %}
                                            <div class="add-to-cart">
                                                <input type="hidden" name="redirect_url"
                                                       value="{{request.get_full_path}}">
                                                {% if product.id|str in cart.cart %}
                                                <button class="in-cart-btn" disabled>in cart</button>
                                                {% else %}
                                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add
                                                    to cart
                                                </button>
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /product -->
                                <div class="clearfix visible-sm visible-xs"></div>
                                {% endfor %}
                                <!-- /product -->
                            </div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Days</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Hours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Mins</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>Secs</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">hot deal this week</h2>
                    <p>New Collection Up to 50% OFF</p>
                    <a class="primary-btn cta-btn" href="#">Shop now</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                <!-- product -->
                                {% for product in discount_products %}
                                <div class="col-md-4 col-xs-6">
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="{{product.photo.url}}" alt="">
                                            <div class="product-label">
                                                {% if product.discount != 0 %}
                                                <span class="sale">{{product.discount}}%</span>
                                                {% endif %}
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">{{product.cat}}</p>
                                            <div style="height: 50px;">
                                                <h3 class="product-name"><a href="{{product.get_absolute_url}}">{{product.name}}</a>
                                                </h3>
                                            </div>
                                            {% if product.discount == 0 %}
                                            <h4 class="product-price">${{product.price}}</h4>
                                            {% else %}
                                            <h4 class="product-price">${{product.final_price}}
                                                <del class="product-old-price">${{product.price}}</del>
                                            </h4>
                                            {% endif %}
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <form method="post" action="{% url 'change_wishlist' product.id %}">
                                                {% csrf_token %}
                                                <div class="product-btns">
                                                    <input type="hidden" name="redirect_url"
                                                           value="{{request.get_full_path}}">
                                                    {% if product.id|str in wishlist.wishlist %}
                                                    <button class="add-to-wishlist"><i class="fa fa-heart"></i><span
                                                            class="tooltipp">remove from wishlist</span></button>
                                                    {% else %}
                                                    <button class="remove-from-wishlist"><i
                                                            class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                                                    </button>
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>
                                        <form method="post" action="{% url 'cart_add' product.id %}">
                                            {% csrf_token %}
                                            <div class="add-to-cart">
                                                <input type="hidden" name="redirect_url"
                                                       value="{{request.get_full_path}}">
                                                {% if product.id|str in cart.cart %}
                                                <button class="in-cart-btn" disabled>in cart</button>
                                                {% else %}
                                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add
                                                    to cart
                                                </button>
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /product -->
                                <div class="clearfix visible-sm visible-xs"></div>
                                {% endfor %}
                                <!-- /product -->
                            </div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock %}
